/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700

  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
 */

.wrapper {
  width: 375px;
  height: 667px;
  background-color: hsl(30, 38%, 92%);
  margin: 0 auto;
  /* padding-bottom: 1rem; */
  /* border: solid; */
  padding: 1.5rem 0.3rem;
}

main {
  background-color: white;
  width: 350px;
  margin: 0 auto;
  /* padding-bottom: 1rem; */
  border-radius: 0 0 10px 10px;
}

.container {
  background-color: white;
  width: 290px;
  margin: 0 auto;
  padding-top: 1rem;
}


img {
  display: flex;
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 1.5rem; */
}

header, p, .original-price {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

header {
  letter-spacing: 0.2rem;
  padding-top: 0.5rem;
}

p {
  line-height: 1.5rem;
}

h1 {
  font-family: 'Fraunces', serif;
}

.discount {
  color: hsl(158, 36%, 37%);
}

.prices {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}

.original-price {
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 1.5rem; */
  font-weight: 700;
  padding: 1rem 2rem;
  width: 95%;
  margin: 1rem auto;
  /* margin-top: 1rem; */
  display: flex;
  justify-content: center;
  background-image: url(/images/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 85px;
}

.btn-position {
  margin-top: -1rem;
  padding-bottom: 0.5rem;
}

.btn-text {
  padding-left: 25px;
}

